<div>
  <h2 id="page-heading" data-cy="PessoaHeading">
    <span>Pessoas</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pessoas?.length === 0">
    <span>No pessoas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pessoas && pessoas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nome</span></th>
          <th scope="col"><span>Data Nascimento</span></th>
          <th scope="col"><span>CPF</span></th>
          <th scope="col"><span>Estado Civil</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pessoa', pessoa.id, 'view']">{{ pessoa.id }}</a>
          </td>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.dataNascimento | formatMediumDate }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.estadoCivil }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(pessoa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
